<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>

    <div class="well">
      <form role="form" name="loginForm" ng-submit="vm.login()" novalidate>

        <div class="server_errors" ng-show="vm.serverErrors">
              <p><b>Errors:</b></p>
              <ul>
                <li ng-repeat="error in vm.serverErrors">
                  <!--<span>{{error.name}}</span>-->
                  <p>{{error}}</p>
                </li>
              </ul>

          </div>


        <div class="form-group">
          <label for="login__email">Email</label>
          <input type="text" name="email" class="form-control" id="login__email" ng-model="vm.email" placeholder="ex. john@example.com"
                  ng-minlength=3 ng-maxlength=40 required />
          <div class="error-container" ng-show="loginForm.email.$invalid && (loginForm.submitted || loginForm.email.$dirty)">
                <p class="error" ng-show="loginForm.email.$error.required">
                       Your email is required.
                </p>
                <p class="error" ng-show="loginForm.email.$error.minlength">
                        Your email is required to be at least 3 characters
                </p>
                <p class="error" ng-show="loginForm.email.$error.email">
                       That is not a valid email. Please input a valid email.
                </p>
                <p class="error" ng-show="loginForm.email.$error.maxlength">
                        Your email cannot be longer than 20 characters
                </p>
          </div>
        </div>

        <div class="form-group">
          <label for="login__password">Password</label>
          <input type="password" name="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus"
                  ng-minlength=3 ng-maxlength=40 required />
                            <div class="error-container" ng-show="loginForm.password.$invalid && (loginForm.submitted || loginForm.password.$dirty)">
                                <p class="error" ng-show="loginForm.password.$error.required">
                                       Password is required.
                                </p>
                                <p class="error" ng-show="loginForm.password.$error.minlength">
                                        Password is required to be at least 3 characters
                                </p>
                                <p class="error" ng-show="loginForm.password.$error.maxlength">
                                        Password cannot be longer than 40 characters
                                </p>
                           </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>