<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
      <form name="registerForm" role="form" ng-submit="vm.register()" novalidate>

          <div class="server_errors" ng-show="vm.serverErrors">
              <p><b>Errors:</b></p>
              <ul>
                <li ng-repeat="error in vm.serverErrors">
                  <!--<span>{{error.name}}</span>-->
                  <p>{{error}}</p>
                </li>
              </ul>

          </div>
        <div class="form-group">
          <label for="register__email">Email</label>
          <input type="email" name="email" class="form-control" id="register__email" ng-model="vm.email"
                 placeholder="ex. john@notgoogle.com" ng-minlength=3 ng-maxlength=40 required />
              <div class="error-container" ng-show="registerForm.email.$invalid && (registerForm.submitted || registerForm.email.$dirty)">
                <p class="error" ng-show="registerForm.email.$error.required">
                       Your email is required.
                </p>
                <p class="error" ng-show="registerForm.email.$error.minlength">
                        Your email is required to be at least 3 characters
                </p>
                <p class="error" ng-show="registerForm.email.$error.email">
                       That is not a valid email. Please input a valid email.
                </p>
                <p class="error" ng-show="registerForm.email.$error.maxlength">
                        Your email cannot be longer than 20 characters
                </p>
              </div>
        </div>
        <!--<span ng-show="registerForm.email.$error.serverMessage">{{registerForm.email.$error.serverMessage}}</span>-->

        <div class="form-group">
          <label for="register__first_name">First Name</label>
          <input type="text" name="first_name" class="form-control" id="register__first_name" ng-model="vm.first_name" placeholder="ex. john"
                   ng-maxlength=40 required/>
                          <div class="error-container" ng-show="registerForm.first_name.$invalid && (registerForm.submitted || registerForm.first_name.$dirty)">
                            <p class="error" ng-show="registerForm.first_name.$error.required">
                                   Your first name is required.
                            </p>
                            </p>
                            <p class="error" ng-show="registerForm.first_name.$error.maxlength">
                                    Your first name cannot be longer than 40 characters
                            </p>
                          </div>
        </div>
        <!--<span ng-show="registerForm.first_name.$error.serverMessage">{{registerForm.first_name.$error.serverMessage}}</span>-->

         <div class="form-group">
          <label for="register__last_name">Last Name</label>
          <input type="text" name="last_name" class="form-control" id="register__last_name" ng-model="vm.last_name" placeholder="ex. walker"
                  ng-maxlength=40 required/>
                           <div class="error-container" ng-show="registerForm.last_name.$invalid && (registerForm.submitted || registerForm.last_name.$dirty)">
                                <p class="error" ng-show="registerForm.last_name.$error.required">
                                       Your last name is required.
                                </p>
                                <p class="error" ng-show="registerForm.last_name.$error.maxlength">
                                        Your last name cannot be longer than 40 characters
                                </p>
                           </div>
        </div>
        <!--<span ng-show="registerForm.last_name.$error.serverMessage">{{registerForm.last_name.$error.serverMessage}}</span>-->

        <div class="form-group">
          <label for="register__password">Password</label>
          <input type="password" name="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus"
                  ng-minlength=3 ng-maxlength=40 required/>
                           <div class="error-container" ng-show="registerForm.password.$invalid && (registerForm.submitted || registerForm.password.$dirty)">
                                <p class="error" ng-show="registerForm.password.$error.required">
                                       Password is required.
                                </p>
                                <p class="error" ng-show="registerForm.password.$error.minlength">
                                        Password is required to be at least 3 characters
                                </p>
                                <p class="error" ng-show="registerForm.password.$error.maxlength">
                                        Password cannot be longer than 40 characters
                                </p>
                           </div>
        </div>
        <!--<span ng-show="registerForm.password.$error.serverMessage">{{registerForm.password.$error.serverMessage}}</span>-->

        <div class="form-group">
          <label for="register__confirm_password">Confirm Password</label>
          <input type="password" name="confirm_password" class="form-control" id="register__confirm_password" ng-model="vm.confirm_password" placeholder="ex. thisisnotgoogleplus"
                  ng-minlength=3 ng-maxlength=40 required/>
                           <div class="error-container" ng-show="registerForm.confirm_password.$invalid && (registerForm.submitted || registerForm.confirm_password.$dirty)">
                                <p class="error" ng-show="registerForm.confirm_password.$error.required">
                                       This field is required.
                                </p>
                                <p class="error" ng-show="registerForm.confirm_password.$error.minlength">
                                        This field is required to be at least 3 characters
                                </p>
                                <p class="error" ng-show="registerForm.confirm_password.$error.maxlength">
                                        This field cannot be longer than 40 characters
                                </p>
                           </div>
        </div>
        <!--<span ng-show="registerForm.confirm_password.$error.serverMessage">{{registerForm.confirm_password.$error.serverMessage}}</span>-->

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>